  .hero{
    height: 80%;
  }

  .background-image{
    background-image: url('/../../assets/img/nova-tax.jpg');
    background-size: cover;
    padding: 100px 0;
  }

  .admin-container {
    width: 90%;
    height: 100%;
    padding: 20px 20px 20px 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .tag-library {
    width: 90%;
    height: 100%;
    padding: 20px 20px 20px 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .admin-container, .tag-library {
    transition: all 0.3s ease;
    cursor: pointer;
    overflow: hidden;
  }
  
  .admin-container:hover, .tag-library:hover {
    width: 100%;
    padding: 30px;
    background-color: #e8e8e8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  button{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  

  .tag {
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    color: white;
}


.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: grey;
  --bs-btn-border-color: #grey;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: black;
}

.tag-color-1 { background-color: #3498db; }
.tag-color-2 { background-color: #2ecc71; }
.tag-color-3 { background-color: #e74c3c; }
.tag-color-4 { background-color: #f39c12; }
.tag-color-5 { background-color: #9b59b6; }
/* Add more colors as needed */
