<app-header></app-header>
<div class="hero">
    <section class="hero">
        <div class="hero-content">
          <h1>Welcome to Nova Tax Client Management</h1>
          <p>Efficiently manage your clients and streamline your tax and accounting services with our comprehensive CRM solution.</p>
          <a href="#contact" class="btn-primary">Get Started</a>
        </div>
      </section>
      <div class="welcome-msg pt-3 pb-4">
        <h1>Hi <span class="text-dark">{{user.name}}</span>, Welcome back</h1>
        <!-- <p>You logged in as {{user.role}}</p> -->
      </div>
    <section class="features">
        <h2>Key Features</h2>
        <div class="feature-cards">
          <div class="feature-card">
            <h3>Client Management</h3>
            <p>Keep track of all your clients' details, documents, and communication in one place.</p>
            <a href="#client-management" class="btn-secondary">Learn More</a>
          </div>
          <div class="feature-card">
            <h3>Task Automation</h3>
            <p>Automate repetitive tasks to save time and improve productivity.</p>
            <a href="#task-automation" class="btn-secondary">Learn More</a>
          </div>
          <div class="feature-card">
            <h3>Analytics & Reporting</h3>
            <p>Generate detailed reports and analytics to gain insights into your business.</p>
            <a href="#analytics-reporting" class="btn-secondary">Learn More</a>
          </div>
        </div>
      </section>
  
</div>

<footer>
  <app-footer></app-footer>
</footer>
