body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  .hero {
    // background-image: url('/src/assets/images/Galaxy_edited_edited.jpg');
    background-size: cover;
    color: black;
    padding: 100px 0;
    text-align: center;
  }

  .welcome-msg{
    color: black;
    padding: 100px 0;
    text-align: center;
  }
  
  .hero .btn-primary {
    background-color: #007bff;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .features {
    padding: 50px 0;
    text-align: center;
  }
  
  .feature-cards {
    display: flex;
    justify-content: space-around;
  }
  
  .feature-card {
    width: 30%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .feature-card h3 {
    color: #007bff;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .about-us, .contact {
    padding: 50px 0;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
  }
  
  form button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  