<div class="footer" role="contentinfo">
    <!-- <span>Nova Client Solution</span> -->
  
    <div class="spacer"></div>

    <!-- <div class="footer-content"> -->
        <nav>
            <a routerLink="/about" routerLinkActive="active">About Us</a>
            <a routerLink="/contact" routerLinkActive="active">Contact Us</a>
            <a routerLink="/privacy" routerLinkActive="active">Privacy Policy</a>
        </nav>
     <div>
        <p>&copy; 2024 Client Portal. All rights reserved.</p>
    </div>
    <!-- </div> -->
  </div>